.products_block .block_content {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
  padding: 0;
}

.center_column .products_block,
.center_column .categoryTabs {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.over-hidden {
  overflow: hidden;
}

.product-block {
  position: relative;
  margin: 0;
  padding: 15px 15px 0;
}
.product-block .image {
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0;
  margin: 0;
  border: 0px;
}
.text-left {
  text-align: left;
}

/* .product-block a {
  background: transparent;
} */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.product-block:hover {
  -webkit-box-shadow: 0px 0px 5px rgba(153, 153, 153, 0.6);
  box-shadow: 0 0 5px #9999;
}

.product-block:hover .product-additional {
  visibility: visible;
}

.product-block .product-additional {
  position: absolute;
  top: 0;
  visibility: hidden;
  left: 0;
  width: 100%;
  perspective: 500px;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.product-block:hover .product-additional {
  visibility: visible;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.product-block .product-meta {
  position: relative;
  padding: 0 0 20px;
  text-align: left;
}

.product-block .name {
  text-transform: none;
  line-height: 14px;
  margin: 5px 0;
  padding: 0;
  height: 40px;
  overflow: hidden;
  word-spacing: 0;
}

.product-block .name a {
  color: #000;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: none;
  line-height: 20px;
}

.product-block .product-desc {
  overflow: hidden;
  display: none;
  padding: 5px 0;
  color: #000;
  font-size: 12px;
  font-weight: 300;
}

.product-block .content_price {
  padding: 5px 0;
}

.product-block .functional-buttons {
  position: absolute;
  padding: 12px 15px 3px;
  bottom: -40px;
  left: -15px;
  right: -15px;
  background: #fff;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}

.product-block:hover .functional-buttons {
  position: absolute;
  bottom: 0;
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-box-shadow: 0px 6px 5px rgba(153, 153, 153, 0.4);
  box-shadow: 0 6px 5px #9996;
}

.product-block .functional-buttons .cart,
.product-block
  .functional-buttons
  .wishlist
  .product-block
  .functional-buttons
  .view-detail {
  float: left;
}
.wishlist {
  position: relative;
}
.product-block .functional-buttons .btn {
  height: 35px;
  width: 35px;
  font-size: 16px;
  line-height: 36px;
  margin-right: 4px;
  padding: 0 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-outline-inverse {
  color: #fff;
  background-color: #999;
  border-color: #999;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.ajax_addtocart {
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid black;
  display: block;
  height: 35px;
  line-height: 32px;
  padding: 0;
  margin-right: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-block .quickview {
  float: left;
  width: 100%;
}
::before,
::after {
  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;
}

.product-block .functional-buttons .btn span {
  font-size: 0px;
}

.ajax_addtocart span {
  vertical-align: middle;
  display: none;
  font-size: 11px;
}

.ajax_addtocart span.zmdi {
  font-size: 16px;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 32px;
}

.product-block .quickview .quick-view {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: uppercase;
  color: #f44336;
  font-weight: 600;
  font-size: 10px;
  display: block;
  line-height: 30px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.product-block .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.functional-buttons > div {
  display: inline-block;
}

.product-block .name a:hover {
  color: #f44336;
}

.products_block .owl-controls {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  width: 100%;
  /* text-align: right; */
  font-size: 0px;
}

.products_block .owl-controls .owl-prev {
  right: 45px;
  left: auto;
}

.products_block .owl-controls .owl-next {
  right: 20px;
  left: auto;
}

.products_block .owl-controls .owl-prev, .products_block .owl-controls .owl-next {
  font-size: 0px;
  position: absolute;
  height: 30px;
  line-height: 28px;
  width: 25px;
  border: none;
  text-shadow: none;
  text-align: center;
  font-family: Poppins;
  background-color: transparent;
  color: #aaa;
  margin: 0;
}

.products_block .owl-controls .owl-prev::before, .products_block .owl-controls .owl-next::before {
  content: "";
  font-family: Material-Design-Iconic-Font;
  font-size: 18px;
  display: block;
}

.products_block .owl-controls .owl-next::before {
  content: "\f2ee";
}

.products_block .owl-controls .owl-prev::before {
  content: "\f2ea";
}

.main-contnet .item {
  border: solid 1px #e6e6e6;
}
