.header-container {
  background-color: var(--header-bg-color);
  color: #fff;
  font-size: 12px;
}
#topbar {
  border-bottom: 1px solid var(--border-color);
}
#search_block_top {
  position: absolute;
  bottom: -51px;
  right: 0;
  width: 270px;
  z-index: 10;
}

#alpha-nav .navbar-nav > li > a::after {
  content: "";
  bottom: -23px;
  left: 0;
  right: 0;
  display: block;
  border-top: 0;
  margin: 0 auto;
  line-height: 0;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 0px solid #f44336;
  width: 0px;
  height: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: border 0.3s ease-out 0s;
  transition: border 0.3s ease-out 0s;
}

.dropdown-toggle::after {
  display: none;
}

#alpha-nav .navbar-nav > li .caret::before {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  top: -23px;
  right: 18px;
}
#alpha-nav .navbar-nav > li.dropdown:hover > a::after {
  border-bottom-width: 6px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: border 0.3s ease-out 0s;
  transition: border 0.3s ease-out 0s;
}

/* top bar  */

/* .nav {
    line-height: 0.95rem;
} */

.currency-icon {
  width: 17px;
  height: 17px;
}

.user-info-block ul li a {
  padding: 5px 10px;
}
.user-info-block ul {
  line-height: 45px;
  display: flex;
  font-weight: lighter;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  /* margin-right: 80px; */
}

#currency_block {
  margin: 8px 0;
  padding: 0;
  float: left;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px #0000002d;
  left: 0;
  background-clip: padding-box;
}

.header_user_info {
  float: right;
}

#currencies {
  list-style: outside none none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

#currencies li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 600;
}

/* end top bar */

/* main header */

#headerOne .header-wrap {
  padding: 0;
}

#topbar nav {
  max-height: 45px;
}

#header-main {
  line-height: 17.15px;
}

#header-logo {
  padding: 28px 0;
}

#search-submit-btn {
  background: transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: medium none;
  color: #666;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 38px;
  padding: 0;
  border-radius: 0;
}

#headerOne #search-submit-btn {
  width: 45px;
  height: 42px;
  line-height: 40px;
  background: #222;
  color: #fff;
}
#headerOne #header_logo {
  padding: 28px 0;
}

#headerOne .cart-block {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin: 20px 0;
  float: right;
  padding: 12px 0 12px 30px;
}

#headerOne #search_block_top {
  position: relative;
  bottom: 0;
  top: 0;
  width: 100%;
  margin-top: 28px;
}

#search_block_top {
  width: 100%;
}

form#searchbox {
  width: 100%;
  position: relative;
}

#headerOne #search_query_top {
  background: #fff;
  height: 42px;
  line-height: 40px;
  padding: 2px 60px 0 15px;
  border: 0px;
}

#search_query_top {
  display: inline;
  padding: 2px 40px 2px 10px;
  height: 40px;
  color: #000;
  line-height: 38px;
  background: transparent;
  border-color: #e6e6e6;
  border-radius: 0;
  font-size: 12px;
  font-weight: 300;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 4px #0000001a inset;
}

.cart-block {
  margin: 20px 0;
  padding: 12px 0 12px 30px;

  border-left: 1px solid var(--border-color);
}

.title-cart {
  background: url("../images/icon_minicart2.webp") no-repeat center center;
  width: 30px;
  height: 33px;
  float: left;
  margin-right: 13px;
}

.cart-title {
  display: block;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.media-heading a {
  display: flex;
  align-items: center;
}

.header-wrap .header-left {
  float: left;
  width: 25%;
}

.inner-car {
  font-size: 11px;
  font-weight: 300;
}

#alpha-nav {
  background-color: var(--main-bg-color);
  color: #000;
  font-size: 16px;
}

/* alpha nav start */

#alpha-vertical-menu {
  padding: 12px 30px 10px 30px;
  background-color: #222222;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  font-family: "Rhodium Libre";
}

.title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 292.5;
  max-height: 22px;
}

.alpha-vertical-menu {
  margin: 10px 0;
}
.alpha-menu {
  text-align: center;
  width: 888px;
}

.megamenu {
  font-size: 12px;
  font-weight: 700;
  list-style: outside none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  flex-flow: row wrap;
  width: 500px;
}
.megamenu:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.17);
}

#alpha-menu .megamenu > li > a {
  position: relative;
  padding: 0 18px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  font-weight: 500;
  line-height: 64px;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

#alpha-menu .navbar-nav > li {
  margin: 0;
}
#alpha-menu .navbar-nav > li .caret {
  width: 10px;
  border: 0px;
}

#alpha-menu .dropdown-menu li a .caret::before {
  content: "\f105";
  top: 7px;
}

#alpha-menu .megamenu > li {
  border-right: 1px solid rgba(0, 0, 0, 0.17);
}

#alpha-menu .megamenu > li:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.17);
  border-left: 1px solid rgba(0, 0, 0, 0.17);
}

.dropdown:hover,
.dropdown-menu {
  visibility: visible;
}

#alpha-menu .dropdown {
  position: static;
}

#alpha-menu .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.35s ease-out 0.1s;
  z-index: 1000;
  top: 50px;
  /* min-width: 160px; */
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0;
  padding: 20px;
  background-color: #fff;
}

#alpha-menu .dropdown:hover > .dropdown-toggle {
  cursor: pointer;
  color: #f44336;
}

#alpha-menu .dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
  /* right: 25%; */
}

.dropdown-menu-inner {
  font-weight: 300;
  color: #666666;
  font-size: 12px;
  text-align: left;
}

.dropdown-menu-inner li {
  padding: 8px 0;
}

.mega-col-inner {
  line-height: 22px;
}
.mega-col-inner .menu-title {
  margin: 5px 0 10px 0;
  text-align: right;
  font-weight: 700;

  width: 100%;
  text-align: left;
}

.megamenu .sub-apmegamenu-2,
.megamenu .sub-apmegamenu-3,
.megamenu .sub-apmegamenu-1 {
  width: 1170px !important;
  left: 10px;
}

.no-gutter {
  position: relative;
}

.mega-col-inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  /* line-height: 2rem; */
}

.mega-col-inner ul {
  margin-left: -23px;
}

.mega-col-inner li a,
.nav-links li a {
  display: block;
  width: 100%;
  transition: all 0.3s linear 0s;
}

.megamenu .mega-col-inner li a:hover {
  color: var(--header-bg-color);
  padding-left: 10px;
}

.dropdown-submenu {
  line-height: 2rem;
  border: none;
}

#alpha-menu .dropdown-submenu:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.parent {
  position: relative;
}

#alpha-menu .dropdown-submenu .dropdown-menu {
  left: 100%;
  top: -19px;
}

.widget-inner {
  width: 100%;
}

.widget-inner a {
  display: block;
}

header .block_content {
  display: none;
  position: absolute;
  font-family: Poppins;
  z-index: 993;
  left: 0;
  width: 100%;
  top: 100%;
  background-color: #fff;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0;
}

#verticalmenu .nav-verticalmenu > li > a {
  width: 100%;
  font-size: 12px;
  text-align: center;
  display: block;
  color: #666;
  height: 60px;
  text-align: left;
  font-weight: 500;
  background: transparent;
  padding: 15px 20px;
}

#verticalmenu .nav-verticalmenu > li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.17);
}

#verticalmenu .nav-verticalmenu > li:last-child {
  border-bottom: none;
}

.nav-verticalmenu {
  width: 100%;
}

#verticalmenu .dropdown-toggle {
  display: block;
  width: 100%;
  padding: 15px 20px;
  transition: all 0.3s linear 0s;
}

#verticalmenu .nav a:hover {
  color: var(--header-bg-color);
}

#verticalmenu .dropdown {
  position: static;
}

#verticalmenu .dropdown .dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: block;
  visibility: hidden;
  background-color: #fff;
  left: 100%;
  padding: 30px 25px;
  transition: all 0.35s ease-out 0.1s;
  opacity: 0;
  min-height: 100%;
  top: 0;
}

#verticalmenu .nav .dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
/* #verticalmenu {
    position: relative;
} */

.navbar-ex1-collapse {
  width: 100%;
}

haeder .product-block {
  padding: 15px 15px 0;
  /* display: grid; */
  position: relative;
  /* grid-template-columns: 200px 200px; */
  font-size: 12px;
  max-height: 346px;
}

header .product-block .product-desc {
  overflow: hidden;
  padding: 5px 0;
  display: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

header.product-container .image {
  width: 200px;
  height: 100px;
}
header .product-container .content_price {
  padding: 5px 0;
  text-align: center;
}

.product-price {
  color: var(--header-bg-color);
}

header .product-container {
  width: 50%;
  float: left;
  padding: 0 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

header .product-meta {
  padding: 0 0 20px;
  width: 100%;
}
header .product-container .name {
  margin: 5px 0;
  overflow: hidden;
  width: 200px;

  padding: 0;
  /* height: 40px; */
}

header .product-name {
  line-height: 20px;
  font-weight: bold;
  height: auto;
  width: auto;
  text-align: center;
  font-size: 12px;
  display: block;
}

.e-scale.popup-over:hover .dropdown-menu,
.e-scale.open .dropdown-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup-over {
  position: relative;
  margin-right: 7px;
}

#headerOne #currency_block .popup-title {
  background-color: #0000001a;
}

.popup-over .popup-title::before {
  content: "\f107";
  position: absolute;
  top: 0;
  right: 10px;
  font-family: FontAwesome;
  font-size: 14px;
}
.popup-over .dropdown-menu {
  display: block;
  visibility: hidden;
}

nav .popup-title {
  background-color: #353535;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0 22px 0 8px;
  position: relative;
}

#currency_block .dropdown-menu li a {
  color: #000;
  padding: 0 10px;
  line-height: 30px;
  display: block;
}

#currency_block .dropdown-menu li a img {
  margin-top: -3px;
  margin-right: 5px;
}

#block_currencies .dropdown-menu li a:hover,
#block_currencies .dropdown-menu li a.selected {
  color: #222;
  background: #f5f5f5;
  font-weight: 600;
}

/* .links.dropdown-menu li {
  display: block;
} */

.links li {
  display: inline;
  margin: 0;
  line-height: 45px;
}
.links li a {
  font-size: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.links {
  margin: 0;
  padding: 0;
}

#headerOne #topbar a:hover {
  color: #000;
}
#topbar a {
  font-family: Poppins;
  font-weight: 300;
  color: #fff;
}

.popup-over:hover,
.popup-over.open {
  cursor: pointer;
}

.popup-over:hover .dropdown-menu,
.popup-over.open .dropdown-menu {
  visibility: visible;
}

.e-scale .dropdown-menu {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.e-scale.popup-over:hover .dropdown-menu,
.e-scale.open .dropdown-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_user_info .popup-title {
  display: none;
}

/* #topbar .header_user_info .links li a {
  border: 0px;
  color: #000;
  display: block;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
} */

.links.dropdown-menu li a {
  margin: 0;
}

#alpha-nav .row > div {
  position: static;
}

#alpha-menu .megamenu > li {
  position: relative;
}

#alpha-menu .megamenu .full-width {
  position: static;
}

#alpha-menu .btn-menu-canvas {
  background-color: #222;
  color: #fff;
  border: 1px solid #222222;
  margin: 0;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

#alpha-menu .btn-menu-canvas:hover {
  background-color: #fff;
  color: #222;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
