@media screen and (min-width: 768px) {
  .container {
    width: 780px;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-10 {
    width: 83.33333%;
  }
  .container {
    width: 1000px;
  }
  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 25%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .megamenu.nav {
    /* display: block !important; */
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-header {
    float: left;
  }
  .navbar-toggle {
    display: none;
  }
  #headerOne #alpha-vertical-menu:hover .block_content {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
}

@media (max-width: 993px) {
  .footerHtml {
    margin-bottom: 30px;
  }
  .ourservice .support > div {
    padding: 0 10px;
  }
  .header_user_info {
    margin: 5px 15px 5px 0;
  }

  .navbar-header .navbar-toggle {
    display: block;
    float: left;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  #search_block_top {
    width: 230px;
  }
  #topbar .header_user_info .links li a {
    border: 0px;
    color: #000;
    display: block;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
  }
  #headerOne .header_user_info .popup-title {
    background-color: #0000001a;
  }
  #currency_block {
    margin: 5px 0;
  }
  .header_user_info .links {
    padding: 10px;
    right: 0;
    left: auto;
    position: absolute;
  }
  .header_user_info .popup-title::before {
    top: 0;
    right: 10px;
  }
  .header-wrap .header-left {
    width: 100% !important;
  }
  #header_logo {
    text-align: center;
  }

  .cart-block {
    min-width: 230px;
    margin-right: 120px;
  }

  .megamenu.nav {
    display: none !important;
  }
  #sliderlayer .nivo-caption {
    top: 10%;
  }
  #sliderlayer .slide-caption .text_first {
    margin-bottom: 10px;
  }
  .blockGolMart .nav-tabs > li {
    float: left;
    width: auto;
  }
  .blockGolMart .nav-tabs > li > a {
    padding: 6px 20px;
  }
  .product-block .functional-buttons {
    background: transparent;
    bottom: auto;
    top: auto;
    position: relative;
    visibility: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@media screen and (max-width: 767px) {
  #alpha-menu .btn-menu-canvas {
    position: absolute;
    top: -70px;
    left: 15px;
    z-index: 1;
  }
  #currency_block .dropdown-menu,
  .header_user_info .links {
    width: 100%;
  }

  #currency_block,
  .header_user_info {
    position: static;
    padding: 5px 10px 5px 0;
    margin: 0;
  }

  #sliderlayer .slide-caption .text_first {
    font-size: 16px;
    line-height: 20px;
  }
  #sliderlayer .slide-caption h3 {
    font-size: 22px;
    line-height: 22px;
  }

  #sliderlayer .slide-caption p {
    margin-bottom: 0;
  }
  #sliderlayer .slide-caption .btn-slide {
    height: 35px;
    line-height: 34px;
  }
  .footer_quicklink .block .block_content {
    margin: 0;
    padding: 0 20px;
    display: none;
  }
  .footer_quicklink .block .title_block::after {
    content: "\f107";
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 18px;
    font-family: FontAwesome;
  }
  .footer_quicklink .block .title_block {
    padding: 14px 20px 12px;
    background: #f5f5f5;
    cursor: pointer;
  }
  .footer_quicklink .block {
    margin-bottom: 30px;
  }
  .footer_quicklink .block .title_block.active::after {
    content: "\f106";
  }
  #testimonials .block_content,
  .footerHtml .block_content,
  .block_aboutshop .block_content {
    display: block !important;
  }
  .footerHtml,
  .block_aboutshop {
    padding: 0 20px;
  }
  .ourservice .support > div {
    width: 100%;
  }
  #powered {
    text-align: center;
    margin-bottom: 20px;
  }

  .sidebar {
    margin-top: 30px;
  }
  .sidebar .block .block_content {
    display: none;
  }
  .sidebar .block .title_block {
    padding: 10px 20px;
    cursor: pointer;
  }
  .sidebar .block .title_block::after {
    content: "\f107";
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    font-family: FontAwesome;
  }
  .sidebar .block .title_block.active::after {
    content: "\f106";
  }
  .hidden-xs {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .col-sp-12 {
    width: 100% !important;
  }
}
