.nivo-caption .caption_1 .text_first,
.nivo-caption .caption_2 .text_first,
.nivo-caption .caption_3 .text_first {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.nivo-caption .caption_1 h3,
.nivo-caption .caption_2 h3,
.nivo-caption .caption_3 h3 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.nivo-caption .caption_1 p,
.nivo-caption .caption_2 p,
.nivo-caption .caption_3 p {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.nivo-caption .caption_1 a,
.nivo-caption .caption_2 a,
.nivo-caption .caption_3 a {
  -webkit-animation-delay: 2s;
  animation-delay: 2.5s;
}

.fadeIn,
.nivo-caption .caption_1 .text_first,
.nivo-caption .caption_2 .text_first,
.nivo-caption .caption_3 .text_first {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-iteration-count: none;
  animation-iteration-count: none;
}

.bounceInRight,
.nivo-caption h3,
.nivo-caption p {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-iteration-count: none;
  animation-iteration-count: none;
}

.bounceIn,
.nivo-caption .caption_1 a,
.nivo-caption .caption_2 a,
.nivo-caption .caption_3 a {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-iteration-count: none;
  animation-iteration-count: none;
}

#slideshow .slider-container {
  overflow: hidden;
  background-color: #fff;
  max-height: 575px;
}

.apollo-slides {
  position: relative;
  width: 100%;
  background: url("../images/loading.webp") no-repeat center center;
  height: auto;
  overflow: hidden;
}

.caption-fullwidth.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
}

.slide-caption {
  position: absolute;
  margin: 0 auto;
  width: 480px;
  left: 0;
  right: 0;
  z-index: 9;
}

.nivo-caption {
  top: 20%;
  background-color: transparent !important;
  opacity: 1 !important;
}

.apollo-html-caption {
  display: none;
}

.caption_2,
.caption_3 {
  left: 0;
  top: 0;
  right: auto;
}
.caption_1 {
  top: 0;
  left: auto;
  right: 0;
}
.slide-caption .text_first {
  font-size: 24px;
  color: #fff;
  text-shadow: none;
  font-family: Poppins;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 30px;
  padding: 0;
  margin: 0 40px 20px;
}

.slide-caption h3 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  text-transform: none;
  color: #fff;
  letter-spacing: 0px;
  margin: 0 40px;
  padding: 0;
  line-height: 35px;
}

.slide-caption p {
  color: #fff;
  font-size: 13px;
  font-family: Poppins;
  line-height: 18px;
  font-weight: 500;
  padding: 10px 40px !important;
  letter-spacing: 0;
}

.slide-caption .btn-slide {
  border: 1px solid #f44336;
  background: #f44336;
  color: #fff;
  margin: 5px 40px 0;
  padding: 0 15px;
  line-height: 42px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  height: 42px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-slide {
  background: transparent;
  border-color: #fff;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn {
  display: inline-block !important;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.42857;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.deactive {
  display: none;
}

.nivo-controlNav {
  display: none;
}

.nivo-directionNav a.nivo-prevNav::before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 20px;
  position: absolute;
  top: -30px;
  right: 0;
  height: 60px;
  width: 26px;
  line-height: 58px;
  text-align: left;
  color: #fff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nivo-directionNav a.nivo-prevNav:hover {
  border-left-color: #f44336;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nivo-directionNav a.nivo-prevNav {
  left: -30px;
  right: auto;
  border-left: 30px solid #000000;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.slider-container:hover .nivo-directionNav a.nivo-prevNav {
  left: 0;
}
.nivo-directionNav a.nivo-prevNav:hover::before {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nivo-directionNav a {
  position: absolute;
  top: 50%;
  margin: -30px 0 0;
  display: block;
  cursor: pointer;
  font-size: 0px;
  z-index: 10;
}
.nivo-directionNav a.nivo-nextNav::before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 20px;
  position: absolute;
  top: -30px;
  left: 0;
  height: 60px;
  width: 26px;
  line-height: 58px;
  text-align: right;
  color: #fff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.slider-container:hover .nivo-directionNav a.nivo-nextNav {
	right: 0;
}
.nivo-directionNav a.nivo-nextNav {
	right: -30px;
	left: auto;
	border-right: 30px solid #000000;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
}
.nivo-directionNav a.nivo-nextNav:hover::before {
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
}
.nivo-directionNav a.nivo-nextNav:hover {
	border-right-color: #f44336;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
}
