@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf") format('truetype') ;
    
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url("../fonts/Poppins-Bold.ttf") format('truetype') ;
    
}

@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url("../fonts/Poppins-Light.ttf") format('truetype') ;
    
}

@font-face {
    font-family: Poppins;
    font-weight: lighter;
    src: url("../fonts/Poppins-ExtraLight.ttf") format('truetype') ;
    
}

@font-face {
    font-family: "Rhodium Libre";
    src: url("../fonts/Rhodium_Libre/RhodiumLibre-Regular.ttf") format('truetype');
}

:root {
    --header-bg-color: #F44336;
    --border-color:  rgba(255, 255, 255, 0.18);
    --main-bg-color: #f5f5f5;
}

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: Poppins, sans-serif, serif;
    background-color: var(--main-bg-color);

}


.container {
    width: 1200px;
    margin: 0 360px;
    padding: 0 15px;
}



#header { 

} 
.header-container {
    background-color: var(--header-bg-color);
    color: #fff;
    font-size: 12px;
}
#topbar { 
    border-bottom: 1px solid var(--border-color);
}
.banner { 

}




/* top bar  */

/* .nav {
    line-height: 0.95rem;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.62rem;

}

.currency-icon {
    width: 17px;
    height: 17px;
}

.user-info-block ul li a{
    padding: 5px 10px;
}
.user-info-block ul{
    line-height: 45px;
    display: flex;
    font-weight: lighter;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    /* margin-right: 80px; */
}


.currency-block {
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    padding: 0 18px 0 8px;
    line-height: 24px;
    position: relative;

}

.dropdown-menu {
    background-color: #fff;
    color: #000;
    visibility: hidden;
    /* display: block; */
    position: absolute;
    padding: 0;
    transition: all 0.3s ease 0s;
    transform: scale(0, 0);
    z-index: 1000;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0;

}

.currency-block:hover {
    cursor: pointer;
}



.currency-block:hover .dropdown-menu {
    visibility: visible;
    display: block;
    margin-top: 0;
    transform: scale(1, 1);
    
}

.currency-block .dropdown-menu {
    top: 29px;
    left: 0;
    min-width: 8rem;

}

#currencies {
    list-style: outside none none;
    text-transform: uppercase;
    margin: 0;
}

#currencies li:hover{
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 600;
    
}


#topbar-content { 

}
/* end top bar */

/* main header */

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

#header-main {
    line-height: 17.15px;
}

#header-logo {
    padding: 28px 0 ;
}

#search-submit-btn {
    background-color: black;
    width: 3rem;
    height: 2.8rem;
    position: absolute;

}

#search-box {
    position: relative;

}

#search-box input[type=text]{
    width: 34rem;
    font-size: 12px;
    height: 2.8rem;
    padding: 2px 0 0 15px;
    outline: 0;
}

.cart-block {
    margin: 20px 0;
    padding: 12px 0 12px 30px;

    border-left: 1px solid var(--border-color);
    
}

.title-cart {
    background: url('../images/icon_minicart2.webp') no-repeat center center;
    width: 30px;
    height: 33px;
    float: left;
    margin-right: 13px;
}

.cart-title {
    display: block;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}


.media-heading a {
    display: flex;
    align-items: center;
}


.header-left, .header-center, .header-right {
    padding: 0 15px;
}

.inner-car {
    font-size: 11px;
    font-weight: 300;
}


#alpha-nav {
    background-color: var(--main-bg-color);
    color: #000;
    font-size: 16px;
} 

/* alpha nav start */

#alpha-vertical-menu {
    padding: 12px 30px 10px 30px;
    background-color: #222222;
    color: #fff;
    text-transform: uppercase;
    font-family: "Rhodium Libre";
}


.title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 292.5;
    max-height: 22px;
}

.alpha-vertical-menu {
    margin: 10px 0;
}
.alpha-menu {
    text-align: center;
    width: 888px;
}

.megamenu {
    font-size: 12px;
    font-weight: 700;
    list-style: outside none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    flex-flow: row wrap;
    width: 500px;
}
.megamenu:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.17) ;
}

.parent {
    line-height: 64px;
    border: 1px 1px;
    padding: 0 18px;
    border-right: 1px solid rgba(0, 0, 0, 0.17);
}

.dropdown {
    position: relative;
}

dropdown:hover, .dropdown-menu{
    visibility: visible;

}

.dropdown:hover .dropdown-menu {
    display: block;
}
